# Ana Bağımlılıklar
fastapi==0.110.0
uvicorn[standard]==0.27.1
sqlmodel==0.0.16
psycopg2-binary==2.9.9
python-dotenv==1.0.1
alembic==1.13.1

# Geliştirme Araçları
black==24.3.0
isort==5.13.2
mypy==1.9.0
pytest==8.1.1
pydantic[email]==2.6.4
